@charset "UTF-8";
*{
    margin: 0;
    padding: 30px 0;
    font-family:Sylfaen, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
html{
    padding: 0;
}
:root{
    --primary: rgb(61, 61, 61);
    --secondary: white;
    --burgundy: rgb(107, 39, 62);
    --black: black;
    --blue: cadetblue;
    --green : #00882d7e;
    --dark-green: #00866c;
}
body{
    background-color: var(--primary);
    color: var(--secondary);
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    justify-content: center;
    font-size: xx-large;
}
h1{
    background-color: var(--secondary);
    color: black;
    padding: 10px;
}
main{
    margin: 0 auto;
    width: 80vw;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
section{
    width: 100%;
    border: solid var(--secondary) 1px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    border-radius: 15px;
    margin: 5px;
    background-color: var(--burgundy);
}
section:first-of-type{
    min-height: 200px;
}
section h4{
    padding: 0 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
section div{
    display: flex;
    justify-content: space-evenly;

}
.hdr-box{
    max-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: var(--blue);
    background-color: var(--secondary);
}
.message-box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    border: 2px solid black;
    width: 80%;
    margin: 20px auto;
    border-radius: 15px;
}

/* Changes Made to add icons and colour changes on hover, color changed also */
button{
    width: 160px;
    height: 160px;
    background-color: var(--green);
    color: var(--secondary);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    text-decoration: none;
    transition: background 0.2s;
    box-shadow: 2px 2px 0px
}
ion-icon{
    font-size: 128px;
}
button:active{
    box-shadow: 0 0 0;
    transform: translate(5px, 5px);
    transition: all;
}
/* i want to add an animation where a shadow will dissapear as its pressed */
button:hover {
    background: var(--dark-green);
}
#holiday-button{
    width: 20%;
    border-radius: 5px;
}
footer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: var(--secondary);
    min-height: 200px;
    border-top: solid var(--black) 4px;

}
footer div{
    display: flex;
    flex-flow: column;
    color: var(--primary);
    margin: 0 10%;
    border-top: black solid 2px;
    border-bottom: black solid 2px;
}